* {
  line-height: 1.5;
  font-weight: 400;
  font-display: optional;
  font-family: "Nunito Sans", Helvetica, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-behavior: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
