* {
	line-height: 1.5;

	scroll-behavior: auto;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
li {
	font-display: optional;
	font-family: "Nunito Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
